.hello-bar {
  background-color: $body-bg;
}

.hello-bar-content {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  padding: 16px;
  background-color: $light-blue-bg;

  @include ie10-and-up {
    width: 770px;
  }

  img {
    height: 30px;
    flex: 0 0 auto;
  }

  p {
    @include font-weight-regular;
    margin: 0 0 0 10px;
    font-size: 16px;
  }
}
