---
title: GitLab Resellers
description: "Learn about the GitLab Authorized Reseller Program, what markets our resellers serve, and how you can resell our products and services."
suppress_header: true
extra_css:
  - community.css
extra_js:
  - resellers.js
---

.reseller-hero.text-center
  .container
    %h1
      GitLab's Authorized Resellers
    .reseller-hero-content
      %p At Gitlab, we've created a Reseller Program and authorized these organizations to resell our products and services in your market.
      %p Interested in becoming an authorized reseller?
    %a.btn.cta-btn.accent{ href: "/resellers/program/" } Learn More

.reseller-category-section
  .reseller-regions
    .reseller-region#na
      = partial '/images/resellers/north-america-icon-filled.svg'
      %p.region-name North America
    .reseller-region#emea
      = partial '/images/resellers/emea-icon-filled.svg'
      %p.region-name Europe, Middle East &amp; Africa
    .reseller-region#la
      = partial '/images/resellers/latin-america-icon-filled.svg'
      %p.region-name Latin America
    .reseller-region#apac
      = partial '/images/resellers/apac-icon-filled.svg'
      %p.region-name Asia / Pacific

.community-content.reseller-wrapper.flex-container.flex-wrap
  - data.resellers.each_slice(3).to_a.each do |group|
    .flex-container.reseller-group
      - group.each do |reseller|
        %a.reseller-item.flex-container.flex-column{ href: "/resellers/" + reseller.name.gsub(' ', '-').downcase, class: "region-" + reseller.region.downcase }
          %img{ src: reseller.image }
          .flex-container.flex-column.reseller-content-container
            .flex-container
              %i.fa.fa-map-marker
              - if reseller.region == "NA"
                %p.reseller-location North America
              - if reseller.region == "APAC"
                %p.reseller-location Asia / Pacific
              - if reseller.region == "LA"
                %p.reseller-location Latin America
              - if reseller.region == "EMEA"
                %p.reseller-location Europe, Middle East & Africa
              - if reseller.region != "NA" && reseller.region != "APAC" && reseller.region != "LA" && reseller.region != "EMEA"
                %p.reseller-location Multiple Regions
            %p.reseller-content
              = reseller.content[0...180] + "..."
          .btn
            Get in touch
  -# .animated.reseller-item.reseller-you.region-apac.region-emea.region-la.region-na
  -#   %h3.reseller-you-title.text-center
  -#     Your Company?
  -#   = image_tag "/images/resellers/logo.svg", class: "img-responsive center-block reseller-image reseller-image-gitlab"
  -#   .reseller-content.last
  -#     :markdown
  -#       Are you interested in building a business around GitLab?
  -#
  -#       GitLab is looking for quality organizations from around the globe with a passion for the development process and open source software to help our customers succeed.
  -#
  -#       For more information about our reseller program, please see our #{link_to 'Reseller Program page',  '/resellers/program/'}.
